%h1 Current Available Tasks List
- @tasks.each do |task|
  %ul
    %li= link_to "#{task.name}", task_path(task.id)
    %li Status: #{task.status}
    %li Location: #{task.location}
    %li Time Frame: #{task.time_frame}
    %li Min. Budget: #{task.minimum_budget}
    %li Max. Budget: #{task.maximum_budget}
