%h1 Task Details
%li Task: #{@task.name}
%li Status: #{@task.status}
%li Description: #{@task.description}
%li Location: #{@task.location}
%li Time Frame: #{@task.time_frame}
%li Min. Budget: #{@task.minimum_budget}
%li Max. Budget: #{@task.maximum_budget}


%h2 Bids:
%ul
- @task.bids.each do |bid|
  %li
    = "#{bid.user.first_name} #{bid.user.last_name}'s Bid: #{bid.quote}"
  %br

%div
  %h2 New Bid
  =form_for([@task, @bid]) do |f|
    - if @bid.errors.any?
      - @bid.errors.full_messages.each do |message|
        = message
    .field
      = f.label :quote, "Quote:"
      %br/
      = f.number_field :quote
    .field
      = f.check_box :terms_of_service
      = f.label :terms_of_service, " I have read and agree to the "
      = link_to "Bidding Terms and Conditions", bid_terms_doc_path, target: :_blank
    .actions
      = f.submit "Make Offer"
