%body
  #wrapper
    %header#header
      .container
        = link_to (image_tag('taskr.png')), root_path, class: 'navbar-brand', width:"117", height:"39"
        %nav#nav.navbar.navbar-collapsed-sm.navbar-default{role: "navigation"}
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-header-collapse", "data-toggle" => "collapse", type: "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          .collapse.navbar-collapse.navbar-header-collapse
            %ul.nav.navbar-nav.navbar-right
              %li.active.dropdown
                = link_to  new_task_path, class: 'dropdown-toggle', "data-delay" => "50" do
                  %span Post new task
              %li.dropdown
                = link_to  tasks_path( {type: 'all'}), class: 'dropdown-toggle', "data-delay" => "50" do
                  %span Current Available Tasks
              %li.dropdown
                = link_to  root_path, class: 'dropdown-toggle', "data-delay" => "50" do
                  %span Home
              %li.dropdown
                = link_to  root_path, class: 'dropdown-toggle', "data-delay" => "50" do
                  %span About us
              - if user_signed_in? && current_user.contractor?
                %li.dropdown
                  = link_to  edit_user_registration_path, class: 'dropdown-toggle', "data-delay" => "50" do
                    %span My Profile
                %li.dropdown
                  = link_to  destroy_user_session_path, method: :delete, class: 'dropdown-toggle', "data-delay" => "50" do
                    %span Log Out
              - elsif user_signed_in? && current_user.requester?
                %li.dropdown
                  = link_to  tasks_path({type: 'requester'}), class: 'dropdown-toggle', "data-delay" => "50" do
                    %span View My Tasks
                %li.dropdown
                  = link_to  destroy_user_session_path, method: :delete, class: 'dropdown-toggle', "data-delay" => "50" do
                    %span Log Out
              - else
                %li.dropdown
                  = link_to '#', class: 'dropdown-toggle', "data-delay" => "50", "data-hover" => "dropdown", "data-toggle" => "dropdown" do
                    %span
                      Contractor
                      %i.fa.fa-angle-down
                  %ul.dropdown-menu{role: "menu"}
                    %li
                      = link_to 'Contractor Sign Up', new_user_registration_path({ role: "contractor" })
                    %li
                      = link_to 'Contractor Log In', new_user_session_path
                %li.dropdown
                  = link_to '#', class: 'dropdown-toggle', "data-delay" => "50", "data-hover" => "dropdown", "data-toggle" => "dropdown" do
                    %span
                      Requester
                      %i.fa.fa-angle-down
                  %ul.dropdown-menu{role: "menu"}
                    %li
                      = link_to 'Requester Sign Up', new_user_registration_path({ role: "requester" })
                    %li
                      = link_to 'Requester Log In', new_user_session_path
                %li.dropdown
                  = link_to  root_path, class: 'dropdown-toggle', "data-delay" => "50" do
                    %span FAQ

    #main{role: "main"}
      #main-content-header
        .container
          .row
            .col-sm-12
              %h1.title
                Accept Bid
              %ol.breadcrumb
                %li
                  %a{ href: tasks_path({type: 'all'}) }
                    Back to all tasks
        = flash[:notice]
        #main-content
          .container
            .row
              .col-md-push-9.col-sm-push-8.col-sm-4.col-md-3
                %nav.sidebar
                  %button.btn.btn-block.btn-contrast.sidebar-toggle{"data-target" => ".sidebar-collapse", "data-toggle" => "collapse", type: "button"}
                    %span.sr-only Toggle navigation
                    %span.icon-bar
                    %span.icon-bar
                    %span.icon-bar
              .col-md-pull-3.col-sm-pull-4.col-sm-8.col-md-9
                .text-boxes
                  .row.text-box.text-box-title-above.text-box-big-image
                    .col-sm-12
                      %h3.title
                        = notice
                        %a{href: "#"} #{@task.name}
                      %br/
                      .toolbar
                        %a.btn.btn-link{href: "#"}
                          %i.fa.fa-arrows
                          %span Location: #{@task.location}
                        %a.btn.btn-link{href: "#"}
                          %i.fa.fa-calendar
                          %span #{@task.time_frame}
                        %a.btn.btn-link{href: "#"}
                          %i.fa.fa-cog
                          %span Status: #{@task.status}
                        - if @task.status == "Contracted"
                          %a.btn.btn-link{href: "#"}
                            %i.fa.fa-dollar
                            %span Contracted on: #{@bid.winning_bid_date}
                        %a.btn.btn-link{href: "#"}
                          %i.fa.fa-dollar
                          %span Minimum Budget: #{@task.minimum_budget}
                        %a.btn.btn-link{href: "#"}
                          %i.fa.fa-dollar
                          %span Maximum Budget: #{@task.maximum_budget}
                        %a.btn.btn-link{href: "#"}
                          %i.fa.fa-cubes
                          %span Contractor: #{@bid.user.first_name} #{@bid.user.last_name}
                      %hr.hr-half/
                  .row.text-box
                    .col-sm-12
                      %h2 Description
                      %p #{@task.description}
                      %hr.hr-half/
                      .row
                        .col-sm-12
                          .row
                            #comments.col-sm-12
                              %h3
                                Agreement:
                              - if @task.status == "Bidding"
                                .media
                                  .content
                                    .toolbar
                                    %p= "You are about to accept the bid from #{@bid.user.first_name} #{@bid.user.last_name}'s of #{@bid.quote}"
                                    %p If you are OK, please review terms and condition and check the box before pressing OK.
                                    %p Press Cancel to cancel the acceptance of the bid.
                              .row
                                %hr.hr-half/
                                = form_tag({controller: 'bids', action: 'winning_bid'}) do
                                  .form-group
                                    = check_box_tag :tos_accept_bid, id:'checkbox-inline input-inlineCheckbox2'
                                    = label_tag :tos_accept_bid, " I have read and agree to the "
                                    = link_to "Accept Bid Terms and Conditions", bid_terms_doc_path, target: :_blank
                                    = hidden_field_tag 'task_id', @task.id
                                    = hidden_field_tag 'bid_id', @bid.id
                                    = submit_tag "OK", class:'btn btn-contrast'
                                    = submit_tag "Cancel", class:'btn btn-contrast'
                    #scroll-to-top.fade
                      %i.fa.fa-chevron-up
