%div
  - if user_signed_in?
    = link_to "View My Tasks", requesters_tasks_path
    = link_to 'Log Out'
  - else
    = link_to 'Sign In', new_requester_session_path
    = link_to 'Sign Up', new_requester_registration_path

  = link_to 'Requester Sign In', new_requester_session_path
  = link_to 'Contractor Sign In', new_contractor_session_path
  = link_to 'Register as a Requester', new_requester_registration_path
  = link_to 'Register as a Contractor', new_contractor_registration_path
