%div
  %ul
    %li Task Name: #{@task.name}
    %li Description: #{@task.description}
    %li Location: #{@task.location}
    %li Minimun budget: #{@task.minimum_budget}
    %li Maximum budget: #{@task.maximum_budget}
    %li Category: #{@task_cat.name}

    %li
      = link_to "Edit task", edit_task_path(@task)
    %li Delete Task
