%div
  = link_to "Edit task", edit_task_path(@task)
  = link_to "Delete task", task_path(@task), method: :delete
  %ul
    %li Task Name: #{@task.name}
    %li Status: #{@task.status}
    %li Description: #{@task.description}
    %li Location: #{@task.location}
    %li Time Frame: #{@task.time_frame}
    %li Minimun budget: #{@task.minimum_budget}
    %li Maximum budget: #{@task.maximum_budget}
    %li Category: #{@task_cat.name}
